@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Inter, sans-serif;
}

/* https://codepen.io/TWilson/pen/jOdWqbZ */

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
}


@layer utilities {
    .text-primary {
        @apply text-neutral-900 dark:text-neutral-100
    }
    .text-secondary {
        @apply text-neutral-600 dark:text-neutral-500
    }
    .text-secondary-content {
        @apply text-neutral-600 dark:text-[#A0A0A0]
    }
    .text-primary-link {
        @apply text-neutral-600 hover:text-neutral-400 dark:text-neutral-400 dark:hover:text-neutral-500
    }
    .btn-transition {
        @apply transition delay-100 duration-500 ease-in-out
    }
    .primary-gradient {
        @apply absolute inset-x-0 bottom-0 h-0.5 group-hover:h-1.5 group-hover:animate-fade-up group-hover:animate-duration-[200ms] bg-gradient-to-r from-green-300 via-blue-500 to-purple-600
    }
    .component {
        @apply mb-16 scroll-smooth
    }
    .animate-fd-1 {
        @apply animate-fade-up animate-delay-[100ms]
    }
    .animate-fd-2 {
        @apply animate-fade-up animate-delay-[200ms]
    }
    .animate-fd-3 {
        @apply animate-fade-up animate-delay-[300ms]
    }
    .animate-fd-4 {
        @apply animate-fade-up animate-delay-[400ms]
    }
    .animate-fd-5 {
        @apply animate-fade-up animate-delay-[500ms]
    }
    .animate-fd-6 {
        @apply animate-fade-up animate-delay-[600ms]
    }
    .animate-fd-7 {
        @apply animate-fade-up animate-delay-[700ms]
    }
    .animate-fd-8 {
        @apply animate-fade-up animate-delay-[800ms]
    }
    .animate-fd-9 {
        @apply animate-fade-up animate-delay-[900ms]
    }
    .animate-fd-10 {
        @apply animate-fade-up animate-delay-[1000ms]
    }
    .animate-fd-11 {
        @apply animate-fade-up animate-delay-[1100ms]
    }
    .animate-fd-12 {
        @apply animate-fade-up animate-delay-[1200ms]
    }
    .animate-fd-13 {
        @apply animate-fade-up animate-delay-[1300ms]
    }
}